.navbar {
    margin-bottom: 0px;
}

.navbar-top {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 14px;
    background-color: #680000;
    border-bottom: 15px solid #f65503;
    line-height: 15px;
}

.navbar-nav-top li a {
    color: #ffffff !important;
    background-color: #680000;
    text-align: center;
}
.navbar-nav-top li a:hover {
    color: #fc5252 !important;
    background-color: #680000;
}
.navbar-header {
    color: #ffffff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

a {
    color: #89220f;
    font-weight: bold;
    text-decoration: none;
}

    a:hover {
        color: #b42e16;
        font-weight: bold;
        text-decoration: none;
    }

/* NAV PILLS ACTIVE BACKGROUND*/
.nav-pills-maroon li a {
    vertical-align: middle;
    padding: 20px 20px 20px 20px;
    background-color: #680000;
    font-size: 15px;
    color: #ffffff;
}
.nav-pills-maroon li a:hover, .nav-pills-maroon li a:focus {
    background-color: red;
    color: #ffffff;
}
body {
    line-height: 1.5em;
    color: #333333;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    font-size: 14px;
    overflow-x: hidden;
}

.footer {
    background-color: #680000;
    background-repeat: no-repeat;
    text-align: right;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}
.mTitle {
    padding: 20px 20px 0px 5px;
    border-bottom: 2px solid #680000;
}

.mTitle h1 {
    font-size: 35px;
    color: #680000;
    font-weight: bolder;
    padding: 0px;
    margin: 5px;
}

.usertype {
    color: #680000;
    font-size: 20px;
    padding: 0px 0px 0px 5px;
}

.title {
    padding: 20px 20px 0px 5px;
    border-bottom: 2px solid #3e3e3e;
    font-size: 18px;
    color: #333333;
    font-weight: bolder;
    margin-bottom: 15px;
}
.calendar {
    font-size: 14px;
    color: #333333;
    text-align: left;
    margin: 0px;
    padding-left: 10px;
}